/*Добавьте идентификатор к заголовку h2 со значением title.
Поместите названия вулканов в тег span с классом name.
Задайте следующие свойства для элемента с id = "title":
цвет текста #230672
размер текста 24px
Задайте следующие свойства элементам с селектором p:
размер текста 14px
Задайте следующие свойства элементам с классом name:
цвет текста #6D48D7 */

#title{
    color: #230672;
    font-size:24px;
}
p{
    font-size:14px;
}
.name{
color: #6D48D7
}

