/*Задайте следующие свойства элементам с классом container:
background: url("https://images.unsplash.com/photo-1637085046560-43cc153c86e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80") /*фоном контейнера станет изображение*/
width: 300px /*ширина блока*/
height: 300px  /*высота блока*/
background-position: 40% 10%; /*задает начальное положение фонового изображения*/
Задайте следующие свойства для элемента с id = "title":
padding-top: 125px; /*смещаем текст вниз 125px*/
цвет текста #e3d1b8
размер текста 40px
text-align: center /*центрирование текста*/
Задайте следующие свойства элементам с селектором p:
padding-top: 80px; /*смещаем текст вниз 80px*/
цвет текста #110301
размер текста 14px
text-align: center /*центрирование текста*/
----

Немного теории:

В данном задании  свойства добавляются каждому объекту отдельно, но уже на данном этапе видно, что свойства повторяются. Например, весь текст внутри контейнера div будет центрирован, значит можно задать свойство контейнеру   text-align: center и оно автоматически применится к заголовку h2 и параграфу p.  Попробуйте после решения задания.*/

*{
  margin:0;
  padding:0;
}
#title{
    padding-top: 125px; /*смещаем текст вниз 125px*/
    color: #e3d1b8; /*цвет текста*/
    font-size: 40px; /*размер шрифта*/
    text-align: center; /*центрирование текста*/
}
p{
    padding-top: 80px; /*смещаем текст вниз 80px*/
    color: #110301; /*цвет текста*/
    font-size: 14px; /*размер шрифта*/
    text-align: center; /*центрирование текста*/
}
.container{
  background:url("https://images.unsplash.com/photo-1637085046560-43cc153c86e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"); /*фоном контейнера станет изображение*/
    width: 300px; /*ширина блока*/
    height: 300px;  /*высота блока*/
    background-position: 40% 10%; /*задает начальное положение фонового изображения*/
}
